@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

:root {
	--text-body: theme(colors.text-body.DEFAULT);
	--text-body-dark: theme(colors.text-body.dark);
	--text-heading: theme(colors.text-heading.DEFAULT);
	--text-heading-dark: theme(colors.text-heading.dark);
	--body-color: theme(colors.body.DEFAULT);
	--body-color-dark: theme(colors.body.dark);
}

* {
	@apply scroll-smooth outline-none focus:outline-none;
}

html {
	@apply scroll-pt-20 font-sans md:scroll-pt-28;
}

body {
	@apply font-body bg-body-dark text-text-body-dark font-normal;
}

::-webkit-scrollbar {
	@apply h-2 w-2;
}

::-webkit-scrollbar-track {
	@apply bg-inherit;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-600;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading text-text-heading-dark;
}

p {
	@apply text-neutral-700 leading-6 font-body;
}
time {
	@apply text-sm text-neutral-500 font-body;
}

.bionic-reading {
	@apply transition-[font-weight] duration-500 font-[var(--br-weight)];
}
